<nav>
	<ul class = "navbar">
		<img src = "images\musiclogo2.png" class="logo"></img>
		<li>
			<a href = \signup class="active">SIGNUP</a>
		</li>
		<li>
			<a href = \ class="active">HOME</a>
		</li>				
	</ul>
</nav>
<form method="POST" action="/login" class="form1">
	<div class="lg">Login</div>
	<fieldset>
		<label for="username" class="enter">Username</label>
		<input name="username" /><br />
		<label for="password" class="enter">Password</label>
		<input type="password" name="password" /><br />
		<input type="submit" value="Login" class="sub" />
	</fieldset>
</form>

<%= "<a href=\"/logout\">Logout</a>" if session[:user_id] %>
<%= flash[:notice] %>