

	<nav>
		<ul class = "navbar">
			<img src = "images\musiclogo2.png" class="logo"></img>
			<li>
				<a href = \logout class="active">LOGOUT</a>
			</li>
			<li>
				<a href = \ class="active">HOME</a>
			</li>			
		</ul>
	</nav>
	<div class="lg" id="welcome">Post your Music Review</div>
	<% if session[:user_id] %>
	<a href = \settings class ="active">Logged in as "<%= @current_user.username %>"</a>
<% end %>
	<form method="POST" action="/post" class="form2">   
		<label for="title" class="enter">Album Name</label>   
		<input type="text" name="[post]title">   
		<label for="text" class="enter" id="ta">Review</label>   
		<textarea name="[post]text"></textarea>   
		<input type="submit" class="sub"> 
	</form>
	<%= flash[:alert] %>
