
	<nav>
		<ul class = "navbar">
			<img src = "images\musiclogo2.png" class="logo"></img>
			<li>
				<a href = \logout class="active">LOGOUT</a>
			</li>
			<li>
				<a href = \ class="active">HOME</a>
			</li>	
			<li>
				<a href = \profile class = "active">Profiles</a>
			</li>		
		</ul>
	</nav>	
	<% @user.posts.each do |post|%> 

	<div class="row">
		<div class="col-xs-2">
		</div>
		<div class="col-xs-8 ti">
		<%= post.title %>
		</div>
		<div class="col-xs-2">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-2">
		</div>
		<div class="col-xs-8 tx">
			
			<%= post.text %>

		</div>
		<div class="col-xs-2">
		</div>

		<% end %>