<nav>
  <ul class = "navbar">
    <img src = "images\musiclogo2.png" class="logo"></img>
    <li>
      <a href = \logout class="active">LOGOUT</a>
    </li>
    <li>
      <a href = \ class="active">POST</a>
    </li> 
    <li>
      <a href = \ class="active">HOME</a>
    </li>     
  </ul>
  <li>
        <a href = \profile class = "active">Profiles</a>
      </li>
</nav>
<form method="POST" action="/settings" class="form1">
<div class="lg">Profile</div>
  <fieldset>
    <label for="user" class="enter">First Name</label>
    <input name="fname" value=<%= @current_user.fname %>><br />
    <label for="user" class="enter">Last Name</label>
    <input name="lname" value=<%= @current_user.lname %>><br />
    <label for="email" class="enter">Email</label>
    <input name="email" value=<%= @current_user.email %>><br />
    <label for="username" class="enter" >Username</label>
    <input name="username" value=<%= @current_user.username %>><br />
    <label for="password" class="enter" >Current password</label>
    <input type="current password" name="password"><br />
    <label for="new password" class="enter" > New password</label>
    <input type="new password" name="new_password"/><br />
    <input type="submit" value="Edit Profile" class="sub2" /><br />
    <input formaction="/delete-account" type="submit" value="DELETE USER" class="sub2" />
  </fieldset>
</form>



</form>



