
<body>
	<nav>
		<ul class = "navbar">
			<img src = "images\musiclogo2.png" class="logo"></img>
			<li>
				<a href = \ class="active">HOME</a>
			</li>			
		</ul>
	</nav>
<form method="POST" action="/signup">
	<fieldset>
		<legend>SIGNUP</legend>
		<label for="user">First Name</label>
		<input name="[user]fname" /><br />
		<label for="user">Last Name</label>
		<input name="[user]lname" /><br />
		<label for="email">Email</label>
		<input name="[user]email" /><br />
		<label for="username">Username</label>
		<input name="[user]username" /><br />
		<label for="password">Password</label>
		<input type="password" name="[user]password" /><br />
		<input type="submit" value="Signup" />
	</fieldset>
</form>	
</body>

