
<body>
	<nav>
		<ul class = "navbar">
			<img src = "images\musiclogo2.png" class="logo"></img>
			<li>
				<a href = \ class="active">HOME</a>
			</li>			
		</ul>
	</nav>
<form method="POST" action="/signup" class="form1">
	<div class="lg">Sign Up</div>
	<fieldset>
		<label for="user" class="enter">First Name</label>
		<input name="[user]fname" /><br />
		<label for="user" class="enter">Last Name</label>
		<input name="[user]lname" /><br />
		<label for="email" class="enter">Email</label>
		<input name="[user]email" /><br />
		<label for="username" class="enter">Username</label>
		<input name="[user]username" /><br />
		<label for="password" class="enter">Password</label>
		<input type="password" name="[user]password" /><br />
		<input type="submit" value="Signup" class="sub" />
	</fieldset>
</form>	
</body>

