body{
	background:rgba(66, 235, 244,1);
	
}
a{color:rgba(115, 0, 153,1)
	;}
	li{color:rgba(115, 0, 153,1)
   }
h1{color:rgb(255, 255, 255);
text-align: center;
font-size:80px;
font-family:'Baloo Thambi', cursive;
border-color: black;
text-shadow: 2px 2px 4px #000000;
margin: 30px 0px 0px 0px;
}
img {
      display: block;
      margin: auto;
     border:1px solid black;
     border-radius: 20px;
      max-width:30%;
      max-height: 30%;
   height:250px;}
    .right{float: right;
    margin: 5px 5px;
    max-width:20%;
      max-height: 20%;
      height:200px;
      width:200px;
      border:2px solid white;
      display:block;
}

  
    
    article{
    	text-align:center;


    }
     ul {
      padding: 10px;
      background: rgba(165, 246, 252,.7);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
      font-family: cursive;
    }
    p{
    	font-family: comic sans ms;
       text-indent: 30px;
       max-width: 1000px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
    	 h1 {
    font-size: 50px;
    margin:20px;
    line-height: 40px;}
     p {
    font-size: 20px;
    line-height: 24px;
  }
  img{
  	height:150px;
  }
}
  @media (max-width: 900px){
  .right{max-height: 40%;
  	max-width: 40%;
  }
 }
  .number{
  	opacity: 0;
  }
  .show-number{
  opacity: 1;
}