body{
  background-image: url("../images/band1.jpeg");
  background-size:cover;
}

.logo{
  height:120px;
  width: 130px;
}
.navbar {
    height: 145px;
    list-style-type: none;
    margin: -4px;
    padding: -6px;
    overflow: hidden;
    background-color: black;
    }
    .navbar img {
            margin-top: 30px;
            margin-right: 60px;
            width: 10%;
            float: left;    
    }
    .navbar li {
            float: right;
            margin-right: 60px;
    }
    .navbar li a {
           font-family: "Serif", Garamond, monospace;
           font-size: 1.0em;
           display: inline-block;
           color: rgb(255,255,255);
           text-align: center;
           padding: 34px 26px;
           text-decoration: none;
           height:145px;

    }
     /*.navbar li */
     a:hover {
               background-color: rgba(255,255,255,0.23);
               cursor: pointer;
               transition: .3s background;
               height: 100%;
    }

    .ti{
      /*background-color: rgba(0,0,0,.5);*/
      font-size: 50px;
      color: white;
      margin:30px;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      
    }

    .tx{
      color:white;
      font-size: 20px;
      background-color: rgba(0,0,0,.5);
      font-family: 'Yanone Kaffeesatz', sans-serif;
      margin-bottom: 40px;
      
    }